/*Application styles*/
.app {
    position: absolute;
    .icon-container {
        width: 60px;
        height: 60px;
        .icon {
            background-size: cover;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 0 2px 0;
        }
        .icon-text {
            text-align: center;
            font-size: 12px;
        }
    }
}

.window-about {
  padding: 0 20px;
}