// Project classes - icons and thumbnails

// Community Story Time
.story-time-icon {
    background-image: url(../images/st.png);
}
.story-time {
    background-image: url(../images/st_preview.png);    
}
// The beer Journal
.beer-journal-icon {
    background-image: url(../images/tbj.png);
}
.beer-journal {
    background-image: url(../images/tbj_preview.png)
}
// Our Big Day in SF
.big-day-icon {
    background-image: url(../images/bd.png);
}
.big-day {
    background-image: url(../images/bd_preview.png)
}

// Picture game
.picture-game-icon {
    background-image: url(../images/pg.jpeg);
}
.picture-game {
    background-image: url(../images/pg_preview.png);
}
// Guac-a-mole
.mole-icon {
    background-image: url(../images/ttt.png);
}
.mole-game {
    background-image: url(../images/ttt_preview.png);
}
// Did the ducks win?
.ducks-icon {
    background-image: url(../images/dw.png);
}
.ducks {
    background-image: url(../images/dw_preview.png);
}