// start menu styles
.start-menu-overlay {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    display: none;
}
.start-menu {
    border: solid 1px black;
    height: 180px;
    width: 160px;
    position: absolute;
    left: 0;
    bottom: 29px;
    display: none;
    background-color: #C0C0C0;
    z-index: 2;
    .start-logo {
        float: left;
        width: 30px;
        background-color: #808080;
        height: 100%;
        background-image: url(../images/vertical.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .start-menu-items {
        float: right;
        height: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                div {
                    padding: 5px 0 0 10px;
                    height: 40px;
                    width: 120px;
                    line-height: 37px;
                    cursor: pointer;
                    p {
                        display: inline;
                        position: relative;
                        bottom: 10px;
                        left: 10px;
                    }
                }
            }
            li:hover {
                color: white;
                background-color: #000080;
            }
        }
    }
}