// start menu styles
.start-menu {
    border: solid 1px black;
    height: 162px;
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 29px;
    display: none;
    background-color: #C0C0C0;
    .start-logo {
        float: left;
        width: 30px;
        background-color: #808080;
        height: 100%;
        background-image: url(../images/vertical.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .start-menu-items {
        float: right;
        height: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                height: 40px;
                width: 170px;
                line-height: 37px;
            }
            li:hover {
                color: white;
                background-color: #000080;
            }
        }
    }
}