html {
    height: 100%;
    width: 100%;
    body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
        font-family: 'Arial', sans-serif;
    }
}



.desktop {
    height: 100%;
    width: 100%;
    background-color: #10807F;
    position: relative;
    .taskbar {
        height: 26px;
        background-color: rgb(192,192,192);
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-top: ridge 2px white;
        #start {
            background: url(../images/start_icon.png) left center no-repeat;
            background-size: 17px 17px;
            text-align: right;
            font-weight: bolder;
            width: 52px;
            height: 20px;
            display: inline-block;
            padding: 1px 2px;
            margin-left: 2px;
            cursor: default;
            user-select: none;
        }
        .startRest {
            border-top: ridge 2px white;
            border-left: ridge 2px white;
            border-bottom: ridge 2px black;
            border-right: ridge 2px black;
        }
        .startRest:active {
            border-top: inset 2px black;
            border-left: inset 2px black;
            border-bottom: inset 2px white;
            border-right: inset 2px white;
        }
        .notifications {
            text-align: right;
            font-weight: bolder;
            min-width: 75px;
            height: 20px;
            float: right;
            margin-left: 2px;
            position: relative;
            right: 2px;
            border-top: inset 2px grey;
            border-left: inset 2px grey;
            border-right: inset 2px white;
            font-size: 12px;
            padding: 5px 0;
            .notification-icon {
                height: 20px;
                width: 20px;
                background-image: url(../images/logo.png);
                background-size: contain;
                background-color: #fff;
                float: left;
                position: relative;
                top: -3px;
            }
        }
    }  
    // Start window styles
    .window {
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        // display: none;
        .window-container {
            height: 400px;
            width: 600px;
            position: relative;
            right: 0;
            left: 0;
            margin: -200px auto 0;
            top: 50%;
            border-bottom: outset 2px black;
            border-right: outset 2px black;
            border-top: outset 2px white;
            border-left: outset 2px white;
            background-color: #C0C0C0;
            border-bottom: outset 2px black;
            border-right: outset 2px black;
            border-left: outset 2px white;
            border-top: outset 2px white;
            .window-title-bar {
                height: 22px;
                text-align: left;
                background-color: #010081;
                color: #fff;
                line-height: 22px;
                padding: 0 0 0 5px;
                cursor: default;
                .x {
                    float: right;
                    height: 15px;
                    width: 15px;
                    border: solid 1px black;
                    color: #000;
                    background-color: #C0C0C0;
                    border-bottom: outset 1px black;
                    border-right: outset 1px black;
                    border-top: outset 1px white;
                    border-left: outset 1px white;
                    margin: 2px;
                    text-align: center;
                    line-height: 12px;
                    position: relative;
                    right: 1px;
                }
                .x:active {
                    border-top: outset 1px black;
                    border-left: outset 1px black;
                    border-bottom: outset 1px white;
                    border-right: outset 1px white;
                }
            }
            [draggable=true] {
                cursor: move;
            }
            
            .resizable {
                overflow: scroll;
                resize: both;
                max-width: 300px;
                max-height: 460px;
            }
            h1 {
                margin: 5px 0 0 20px;
            }
            h5 {
                margin: 0 0 0 20px;
                width: 390px;
                line-height: 1;
            }
            .window-body {
                height: 280px;
                width: 390px;
                background-color: #FFFFEC;
                margin: 0 0 0 20px;
                position: absolute;
                bottom: 20px;
                h4 {
                    margin: 5px 15px;
                }
                .thumbnail {
                    margin: 5px 15px 15px;
                    border: solid 1px black;
                    height: 200px;
                    position: relative;
                    bottom: 0px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            // btn styles
            .btns-container {
                position: absolute;
                right: 0;
                width: 160px;
                padding: 15px;
                margin: -3px 0 0 0;
                .btn {
                    height: 30px;
                    width: 160px;
                    border-bottom: outset 1px black;
                    border-right: outset 1px black;
                    border-top: outset 1px white;
                    border-left: outset 1px white;
                    font-size: 14px;
                    margin: 10px 0 0 0;
                }
                .btn:active {
                    border-top: outset 1px black;
                    border-left: outset 1px black;
                    border-bottom: outset 1px white;
                    border-right: outset 1px white;    
                }
                .btn:focus {
                    outline: none;
                }
                .btn-project {
                    margin: 0;
                }
                .btn-close {
                    
                }
                .btn-github {
                    margin: 10px 0 30px 0;
                }
            }
        }
        .application-container {
                height: 600px;
                width: 400px;
                position: relative;
                top: 50%;
                bottom: 0;
                left: 0;
                right: 0;
                margin: -300px auto 0;
                background-color: white;
            iframe {
                height: 100%;
                width: 100%;
            }
        }
        .start-menu-container {
            height: auto;
        }
    }
}

