// start menu styles
.start-menu-overlay {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    display: none;
}
.start-menu {
  border: solid 1px #000;
  height: 225px;
  width: 180px;
  position: absolute;
  left: 0;
  bottom: 28px;
  background-color: silver;
  z-index: 2;
    .start-logo {
        float: left;
        width: 30px;
        background-color: #808080;
        height: 100%;
        background-image: url(../images/vertical.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .start-menu-items {
        float: right;
        height: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                div {
                    padding: 5px 0 0 10px;
                    height: 40px;
                    width: 140px;
                    line-height: 37px;
                    cursor: pointer;
                    p {
                        display: inline;
                        position: relative;
                        bottom: 10px;
                        left: 10px;
                    }
                }
            }
            li:hover {
                color: white;
                background-color: #000080;
            }
        }
    }
}

// About window

// Contact window
.contact-content {
    text-align: center;
    h3 {
        a {
            text-decoration: none;
            color: black;
            font-size: 35px;
        }
        img {
            width: 50px;
            vertical-align: middle;
        }
    }
}

// preferences window
.preferences-content {
    height: 400px;
    background-color: #C0C0C0;
    padding: 10px;
    .tab {
        width: 100px;
        border-right: outset 1px black;
        border-top: outset 1px white;
        border-left: outset 1px white;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        position: relative;
        left: 3px;
        text-align: center;
    }
    .container {
        border: solid black 1px;
        border-bottom: outset 1px black;
        border-right: outset 1px black;
        border-top: outset 1px white;
        border-left: outset 1px white;
        .preview {
            margin: 0 auto;
            width: 75%;
        }
        .selection-container {
            width: 100%;
            .pattern {
                float: left;
                width: 50%;
            }
            .wallpaper {
                float: right;
                width: 50%;
            }
        }
    }
}