
<!-- Custom HTML by Garrett Estrin | GarrettEstrin.com -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=400">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="./ttt/style.css" media="screen" title="no title" charset="utf-8">
    <!-- <script src="./jquery.js"</script> -->
  </head>
  <body>
    <div class="message" id="id"><img src="./ttt/catwithstrings.jpg" /></div>
    <!-- <div id="playerXWins" class="scoreBoard">
      <h2>Player X Wins</h2>
    </div> -->

<div class="board">
  <div class="row">
    <div id="box1" data-box="1" class="square bottomborder rightborder"></div>
    <div id="box2" data-box="2" class="square bottomborder"></div>
    <div id="box3" data-box="3" class="square leftborder bottomborder"></div>
  </div>
  <div class="row">
    <div id="box4" data-box="4" class="square rightborder"></div>
    <div id="box5" data-box="5" class="square"></div>
    <div id="box6" data-box="6" class="square leftborder"></div>
  </div>
  <div class="row">
    <div id="box7" data-box="7" class="square topborder rightborder"></div>
    <div id="box8" data-box="8" class="square topborder"></div>
    <div id="box9" data-box="9" class="square topborder leftborder"></div>
  </div>
</div>
<!-- <div id="playerOWins" class="scoreBoard">
  <h2>Player O Wins</h2>
</div> -->

<div class="button">
  <button type="button" class="resetGameBtn" id="resetGameBtn">Play New Game</button>
</div>


    <script src="./ttt/main0.js" charset="utf-8"></script>
  </body>
</html>
